<%- include("../includes/header.ejs", {title:"Add New EmpAddressLocal"}); %>
<h1>Add New EmpAddressLocal</h1>
<form action="/EmpAddressLocal/insert" method="get">
    <br />
    SSU ID: <input id="SSUID" name="SSUID" type="text" />

    <br />
    Local Street : <input id="LStreet" name="LStreet" type="text" />

    <br />

    Local City: <input id="LCity" name="LCity" type="text" />

    <br/>

    Local State: <input id="LState" name=LPState" type="text" />

    <br/>

    Local Zip: <input id="LZip" name ="LZip" type="text" />


    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SSUID').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>