<%- include("../includes/header.ejs", {title:"EmpAddressLocal - " + result[0].SSUID}); %>
<h1>EmpAddressLocal</h1>
<ul>
    <li>SSU ID: <%= result[0].SSUID %></li>
    <li>Local Street: <%= result[0].LStreet %></li>
    <li>Local City: <%= result[0].LCity%></li>
    <li>Local State: <%= result[0].LState%></li>
    <li>Local Zip: <%= result[0].LZip%></li>


</ul>

<a href="/EmpAddressLocal/all"><< back</a>

<%- include("../includes/footer.ejs"); %>