<%- include("../includes/header.ejs", {title:"EmpAddressLocal - View All"}); %>

<h1>EmpAddressLocal</h1>
<a href="/EmpAddressLocal/add">Add New EmpAddressLocal</a> <br />

<br />

<table border="1">
    <tr><th>EmpAddressLocal</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/EmpAddressLocal/?SSUID=<%= result[i].SSUID %>"></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/EmpAddressLocal/edit/?SSUID=<%= result[i].SSUID %>'">Edit</button>
            <form action="/EmpAddressLocal/delete/" style="display:inline;">
                <input type="hidden" name="SSUID" id="SSUID" value="<%= result[i].SSUID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>