<%- include("../includes/header.ejs", {title: "Update " + SSUID}); %>

<h1>Update <%= EmpAddressLocal.SSUID%></h1>
<form action="/EmpAddressLocal/update" method="get">
    <input type="hidden" id="SSUID" name="SSUID" value="<%= EmpAddressLocal.SSUID %>">
    <br />
    Local Street: <input id="LStreet" name="LStreet" type="text" value="<%= EmpAddressLocal.LStreet%>"/>
    <br />
    Local City: <input id="LCity" name="LCity" type="text" value="<%= EmpAddressLocal.LCity%>"/>
    <br />
    Local State: <input id="LState" name="LState" type="text" value="<%= EmpAddressLocal.LState%>"/>
    <br/>
    Local Zip: <input id="LZip" name="LZip" type="text" value="<%= EmpAddressLocal.LZip%>"/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>