<!DOCTYPE html>
<html>
<head>
    <title> <%= title %></title>
    <style>
        /*div.container {*/
        /*width: 100%;*/
        /*border: 1px solid deeppink;*/
        /*}*/

        header, footer {
            padding: 2em;
            color: cornflowerblue;
            background-color: black;
            clear: left;
            text-align: center;
        }

        nav {
            float: left;
            max-width: 160px;
            background-color: white;
            color: cornflowerblue;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            background-color: white;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<header>
    <h1><font face="Bedrock "></font> Sonoma State Library Administration Website </font> </h1>
</header>
<body>

<nav>
    <ul>
        <li>
            <a href="javascript:history.back()">Previous Page</a></li>
        <br/>
        <li>
            <a href="/LibEmployee/all">Library Employee Information </a></li>
        &ndash;
        <string> Clicking on this link will direct you to the employee information page.</string>


        <!--<li><a href="/EmpAddressLocal/all">Employee's Local Address</a>-->
        <!--</li>-->
        <!--&ndash;-->

        <!--<string> Clicking on this link will direct you to the employee's local address .</string>-->


        <li>
            <!--<a href="/EmpAddressPerm/all">Employee's Permanent Address</a>-->
            <!--</li>-->
            <!--&ndash;-->
            <!--<string> Clicking on this link will direct you to the employee's permanent address.</string>-->
            <br/>
            <br/>
        <li> <a href="/EmployeeStatus/all"> Employee Status</a></li>
        &ndash;
        <string> Clicking on this link will direct you to the employee's current status.</string>
        <br/>
        <br/>
        <li> <a href="/LibDepartment/all"> Library Departments</a></li>
        &ndash;
        <string>Clicking on this link will direct you to the library departments.</string>
        <br/>
        <br/>
        <li> <a href="/LibHoursWage/all"> Employee Hours & Wage</a></li>
        &ndash;
        <string> Clicking on this link will show you the employee's name, hours, wages, and sick days used.</string>
        <br/>
        <br/>
        <li><a href="/LibEvents/all"> Library Events</a></li>
        &ndash;
        <string>Clicking on this link will direct you to the library events.</string>
        <br/>
        <br/>
        <li><a href="/Hiring/all"> Hiring</a></li>
        &ndash;
        <string>Clicking on this link will take you to the hiring page.</string>


    </ul>
</nav>