<%- include("../includes/header.ejs", {title: "Update " + SSUID}); %>

<h1>Update <%= EmpAddressPerm.SSUID%></h1>
<form action="/EmpAddressPerm/update" method="get">
    <input type="hidden" id="SSUID" name="SSUID" value="<%= EmpAddressPerm.SSUID %>">
    <br />
    Permanent Street: <input id="PStreet" name="PStreet" type="text" value="<%= EmpAddressPerm.PStreet%>"/>
    <br />
    Permanent City: <input id="PCity" name="PCity" type="text" value="<%= EmpAddressPerm.PCity%>"/>
    <br />
    Permanent State: <input id="PState" name="PState" type="text" value="<%= EmpAddressPerm.PState%>"/>
    <br/>
    Permanent Zip: <input id="PZip" name="PZip" type="text" value="<%= EmpAddressPerm.PZip%>"/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>