<%- include("../includes/header.ejs", {title:"Add New EmpAddressPerm"}); %>
<h1>Add New EmpAddressPerm</h1>
<form action="/EmpAddressPerm/insert" method="get">
    <br />
    Permanent Street : <input id="PStreet" name="PStreet" type="text" />

    <br />

    Permanent City: <input id="PCity" name="PCity" type="text" />

    <br/>

    Permanent State: <input id="PState" name="PState" type="text" />

    <br/>

    Permanent Zip: <input id="PZip" name ="PZip" type="text" />


    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SSUID').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>