<%- include("../includes/header.ejs", {title:"EmpAddressPerm - View All"}); %>

<h1>EmpAddressPerm</h1>
<a href="/EmpAddressPerm/add">Add New EmpAddressPerm</a> <br />

<br />

<table border="1">
    <tr><th>EmpAddressPerm</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/EmpAddressPerm/?SSUID=<%= result[i].SSUID %>"><%= result[i].PStreet %>"></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/EmpAddressPerm/edit/?SSUID=<%= result[i].SSUID %>'">Edit</button>
            <form action="/EmpAddressPerm/delete/" style="display:inline;">
                <input type="hidden" name="SSUID" id="SSUID" value="<%= result[i].SSUID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>