<%- include("../includes/header.ejs", {title:"EmpAddressPerm - " + result[0].SSUID}); %>
<h1>EmpAddressPerm</h1>
<ul>
    <li>SSU ID: <%= result[0].SSUID %></li>
    <li>Permanent Street: <%= result[0].PStreet %></li>
    <li>Permanent City: <%= result[0].PCity%></li>
    <li>Permanent State: <%= result[0].PState%></li>
    <li>Permanent Zip: <%= result[0].PZip%></li>


</ul>

<a href="/EmpAddressPerm/all"><< back</a>

<%- include("../includes/footer.ejs"); %>