<%- include("./includes/header.ejs", {title: title}); %>

<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->

<!--<a href="/LibEmployee/all">LibEmployee - View All</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/EmpAddressPerm">EmpAddressPerm - View All</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/EmpAddressLocal">EmpAddressLocal - View All</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/EmployeeStatus">EmployeeStatus - View All</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/LibDepartment"> LibDepartment - View All</a>-->
<!--<br/>-->
<!--<br/>-->

<!--<a hreLibHoursWageViewWagLibHoursWageViewWage - View All </a>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/LibEvents"> LibEvents - View All</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/Hiring"> Hiring - View All</a>-->
<!---->
<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      background-color: white ;
      text-align: center;


    }

  </style>
</head>
<body>
</body>
</html>
<img src="/images/Lib.jpg" alt="Library" style="width:600px;height:400px;">

<br /><a href=" /AboutPg.html"><font size="+5"> About Page</font></a>
<br/><a href="/AboutComp.html"><font size="+5"> About Company</font></a>
</a><%- include("./includes/footer.ejs"); %>
