<%- include("../includes/header.ejs", {title:"LibEvents - " + result[0].LibDeptNum}); %>
<h1>LibEvents</h1>
<ul>
    <li>Library Department Number: <%= result[0].LibDeptNum %></li>
    <li>Location: <%= result[0].Location %></li>
    <li>Date Of Event: <%= result[0].DateOfEvent%></li>
    <li>Number Of Employees Working: <%= result[0].NumOfEmpWorking%></li>


</ul>

<a href="/LibEvents/all"><< back</a>

<%- include("../includes/footer.ejs"); %>