<%- include("../includes/header.ejs", {title:"LibEvents - View All"}); %>

<h1>LibEvents</h1>
<a href="/LibEvents/add">Add New LibEvent</a> <br />

<br />

<table border="1">
    <tr><th>LibEvents</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/LibEvents/?LibDeptNum=<%= result[i].LibDeptNum %>"></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/LibEvents/edit/?LibDeptNum=<%= result[i].LibDeptNum %>'">Edit</button>
            <form action="/LibEvents/delete/" style="display:inline;">
                <input type="hidden" name="LibDeptNum" id="LibDeptNum" value="<%= result[i].LibDeptNum %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>