<%- include("../includes/header.ejs", {title: "Update " + LibDeptNum}); %>

<h1>Update <%= LibEvents.LibDeptNum%></h1>
<form action="/LibEvents/update" method="get">
    <input type="hidden" id="LibDeptNum" name="LibDeptNum" value="<%= LibEvents.LibDeptNum %>">
    <br />
    Library Department Number: <input id="LibDeptNum" name="LibDeptNum" type="text" value="<%= LibEvents.LibDeptNum%>"/>
    <br />
    Location: <input id="Location" name="Location" type="text" value="<%= LibEvents.Location%>"/>
    <br />
    Date of Event: <input id="DateOfEvent" name="DateOfEvent" type="text" value="<%= LibEvents.DateOfEvent%>"/>
    <br/>
    Numbers Of Employees Working: <input id="NumOfEmpWorking" name="NumOfEmpWorking" type="text" value="<%= LibEvents.NumOfEmpWorking%>"/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>