<%- include("../includes/header.ejs", {title:"Add New LibEvents"}); %>
<h1>Add New LibEvents</h1>
<form action="/LibEvents/insert" method="get">
    <br />
    Library Department Number: <input id="LibDeptNum" name="LibDeptNum" type="text" />

    <br />
    Location : <input id="Location" name="Location" type="text" />

    <br />

    Date Of Event: <input id="DateOfEvent" name="DateOfEvent" type="text" />

    <br/>

    Numbers Of Employees Working: <input id="NumOfEmpWorking" name="NumOfEmpWorking" type="text" />



    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#LibDeptNum').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>