<%- include("../includes/header.ejs", {title:"LibDepartment - " + result[0].LibDeptNum}); %>
<h1>Library Department</h1>
<ul>
    <li>Library Department Name : <%= result[0].LibDeptName %></li>
    <li>Library Department Number: <%= result[0].LibDeptNum %></li>
    <li>Phone Number: <%= result[0].PhoneNumber%></li>


</ul>

<a href="/LibDepartment/all"><< back</a>

<%- include("../includes/footer.ejs"); %>