<%- include("../includes/header.ejs", {title:"Library Department - View All"}); %>

<h1>Library Department</h1>
<a href="/LibDepartment/add">Add New Department</a> <br />

<br />

<table border="1">
    <tr><th>Library Department</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/LibDepartment/?LibDeptNum=<%= result[i].LibDeptNum %>"><%= result[i].LibDeptName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/LibDepartment/edit/?LibDeptNum=<%= result[i].LibDeptNum %>'">Edit</button>
            <form action="/LibDepartment/delete/" style="display:inline;">
                <input type="hidden" name="LibDeptNum" id="LibDeptNum" value="<%= result[i].LibDeptNum %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>