<%- include("../includes/header.ejs", {title:"Add New Department"}); %>
<h1>Add New Department</h1>
<form action="/LibDepartment/insert" method="get">
    <br />
    Library Department Name: <input id="LibDeptName" name="LibDeptName" type="text" />

    <br />
    Library Department Number: <input id="LibDeptName" name="LibDeptName" type="text" />

    <br />

    Phone Number: <input id="PhoneNumber" name="PhoneNumber" type="text" />

    <br/>


    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#LibDeptNum').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>