<%- include("../includes/header.ejs", {title: "Update " + LibDeptNum}); %>

<h1>Update <%= LibDepartment.LibDeptNum%></h1>
<form action="/LibDepartment/update" method="get">
    <input type="hidden" id="LibDeptNum" name="LibDeptNum" value="<%= LibDepartment.LibDeptNum %>">
    <br />
    Library Department Name: <input id="LibDeptName" name="LibDeptName" type="text" value="<%= LibDepartment.LibDeptName%>"/>
    <br />
    Library Department Number: <input id="LibDeptNum" name="LibDeptNum" type="text" value="<%= LibDepartment.LibDeptNum%>"/>
    <br />
    Phone Number: <input id="PhoneNumber" name="PhoneNumber" type="text" value="<%= LibDepartment.PhoneNumber%>"/>
    <br/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>