<%- include("../includes/header.ejs", {title:"EmployeeStatus - " + result[0].SSUID}); %>
<h1>EmployeeStatus</h1>
<ul>
    <li>SSU ID: <%result[0].SSUID%></li>
    <li>Permanent Staff: <%= result[0].PermanentStaff %></li>
    <li>Student Assistant: <%= result[0].StudentAssistant%></li>
    <li>Standing: <%= result[0].Standing%></li>


</ul>

<a href="/LibEmployee/all"><< back</a>

<%- include("../includes/footer.ejs"); %>