<%- include("../includes/header.ejs", {title:"EmployeeStatus - View All"}); %>

<h1>Employee Status</h1>
<a href="/EmployeeStatus/add">Add New Employee Status</a> <br />

<br />

<table border="1">
    <tr><th>Employee ID</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/EmployeeStatus/?SSUID=<%= result[i].SSUID %>"><%=result[i].SSUID%></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/EmployeeStatus/edit/?SSUID=<%= result[i].SSUID %>'">Edit</button>
            <form action="/EmployeeStatus/delete/" style="display:inline;">
                <input type="hidden" name="SSUID" id="SSUID" value="<%= result[i].SSUID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>