<%- include("../includes/header.ejs", {title:"Add New EmployeeStatus"}); %>
<h1>Add New EmployeeStatus</h1>
<form action="/EmployeeStatus/insert" method="get">
    SSU ID <input id="SSUID" name="SSUID" type="text"/>
    <br />

    Permanent Status: <input id="PermanentStaff" name="PermanentStaff" type="text" />

    <br />
    Student Assistant : <input id="StudentAssistant" name="StudentAssistant" type="text" />

    <br />

    Standing: <input id="Standing" name="Standing" type="text" />

    <br/>


    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SSUID').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>