<%- include("../includes/header.ejs", {title: "Update " + EmployeeStatus.SSUID}); %>

<h1>Update <%= EmployeeStatus.SSUID%></h1>
<form action="/EmployeeStatus/update" method="get">
    <input type="hidden" id="SSUID" name="SSUID" value="<%= EmployeeStatus.SSUID %>">
    SSU ID: <input id="SSUID" name="SSUID" type="text" value="<%= EmployeeStatus.SSUID%>"/>

    <br />
    Permanent Staff: <input id="PermanentStaff" name="PermanentStaff" type="text" value="<%= EmployeeStatus.PermanentStaff%>"/>
    <br />
    Student Assistant: <input id="StudentAssistant" name="StudentAssistant" type="text" value="<%= EmployeeStatus.StudentAssistant%>"/>
    <br />
    Standing: <input id="Standing" name="Standing" type="text" value="<%= EmployeeStatus.Standing%>"/>
    <br/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>