<%- include("../includes/header.ejs", {title:"Hiring - " + result[0].LibDeptNum}); %>
<h1>Hiring</h1>
<ul>
    <!--<li>Library Department Number: <%= result[0].LibDeptNum %></li>-->
    <li>Hiring: <%= result[0].Hiring %></li>
    <li>Number of Resume Received: <%= result[0].NumResumeReceived%></li>


</ul>

<a href="/Hiring/all"><< back</a>

<%- include("../includes/footer.ejs"); %>