<%- include("../includes/header.ejs", {title:"Hiring - View All"}); %>

<h1>Hiring</h1>
<a href="/Hiring/add">Add New Hiring </a> <br />

<br />

<table border="1">
    <tr><th>Library Dept Num</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/Hiring/?LibDeptNum=<%= result[i].LibDeptNum %>"></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/Hiring/edit/?LibDeptNum=<%= result[i].LibDeptNum %>'">Edit</button>
            <form action="/Hiring/delete/" style="display:inline;">
                <input type="hidden" name="LibDeptNum" id="LibDeptNum" value="<%= result[i].LibDeptNum %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>