<%- include("../includes/header.ejs", {title: "Update " + LibDeptNum}); %>

<h1>Update <%= Hiring.LibDeptNum%></h1>
<form action="/Hiring/update" method="get">
    <input type="hidden" id="LibDeptNum" name="LibDeptNum" value="<%= Hiring.LibDeptNum %>">
    <br />
    Library Department Number: <input id="LibDeptNum" name="LibDeptNum" type="text" value="<%= Hiring.LibDeptNum%>"/>
    <br />
    Hiring: <input id="Hiring" name="Hiring" type="text" value="<%= Hiring.Hiring%>"/>
    <br />
    Number Of Resume Received: <input id="NumResumeReceived" name="NumResumeReceived" type="text" value="<%= Hiring.NumResumeReceived%>"/>
    <br/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs");