<%- include("../includes/header.ejs", {title:"Add New Hiring"}); %>
<h1>Add New Hiring</h1>
<form action="/Hiring/insert" method="get">
    <br />
    Library Department Number: <input id="LibDeptNum" name="LibDeptNum" type="text" />

    <br />
    Hiring: <input id="Hiring" name="Hiring" type="text" />

    <br />

    Number of Resumes Received: <input id="NumResumeReceived" name="NumResumeReceived" type="text" />

    <br/>




    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#LibDeptNum').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>