<%- include("../includes/header.ejs", {title:"LibEmployee - View All"}); %>

<h1>LibEmployee</h1>
<a href="/LibEmployee/add">Add New LibEmployee</a> <br />

<br />

<table border="1">
    <tr><th>LibEmployee</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/LibEmployee/?SSUID=<%= result[i].SSUID %>"><%= result[i].Fname %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/LibEmployee/edit/?SSUID=<%= result[i].SSUID %>'">Edit</button>
            <form action="/LibEmployee/delete/" style="display:inline;">
                <input type="hidden" name="SSUID" id="SSUID" value="<%= result[i].SSUID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>