<%- include("../includes/header.ejs", {title:"Add New LibEmployee"}); %>
<h1>Add New LibEmployee</h1>
<form action="/LibEmployee/insert" method="get">
    <br />
    First Name: <input id="Fname" name="Fname" type="text" />

    <br />
    Last Name : <input id="LName" name="Lname" type="text" />

    <br />

    Date of Birth: <input id="SOB" name="SOB" type="text" />

    <br/>

    Sex: <input id="Sex" name="Sex" type="text" />



    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SSUID').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>