<%- include("../includes/header.ejs", {title: "Update " + SSUID}); %>

<h1>Update <%= LibEmployee.SSUID%></h1>
<form action="/LibEmployee/update" method="get">
    <input type="hidden" id="SSUID" name="SSUID" value="<%= LibEmployee.SSUID %>">
    <br />
    First Name: <input id="Fname" name="Fname" type="text" value="<%= LibEmployee.Fname%>"/>
    <br />
    Last Name: <input id="Lname" name="Lname" type="text" value="<%= LibEmployee.Lname%>"/>
    <br />
    Date of Birth: <input id="DOB" name="DOB" type="text" value="<%= LibEmployee.DOB%>"/>
    <br/>
    Sex: <input id="Sex" name="Sex" type="text" value="<%= LibEmployee.Sex%>"/>

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>