<%- include("../includes/header.ejs", {title:"LibEmployee - " + result[0].SSUID}); %>
<h1>LibEmployee</h1>
<ul>
    <li>SSU ID: <%= result[0].SSUID %></li>
    <li>First Name: <%= result[0].Fname %></li>
    <li>Last Name: <%= result[0].Lname%></li>
    <li>DOB: <%= result[0].DOB%></li>
    <li>Sex: <%= result[0].Sex%></li>


</ul>

<a href="/LibEmployee/all"><< back</a>

<%- include("../includes/footer.ejs"); %>