<%- include("../includes/header.ejs", {title:"LibHoursWage - " + result[0].SSUID}); %>
<h1>LibHoursWage</h1>
<ul>
    <li>SSU ID: <%= result[0].SSUID %></li>
    <li>Library Department Number: <%= result[0].LibDeptNum %></li>
    <li>Weekly Hours: <%= result[0].WeeklyHrs%></li>
    <li>Monthly Hours: <%= result[0].MonthlyHrs%></li>
    <li>Beginning Wage: <%= result[0].BeginningWage%></li>
    <li>End Wage: <%= result[0].EndWage%></li>
    <li>Sick Days Used: <%= result[0].SickDaysUsed%></li>




</ul>

<a href="/LibHoursWageView/all"><< back</a>

<%- include("../includes/footer.ejs"); %>