<%- include("../includes/header.ejs", {title:"LibHoursWage - View All"}); %>

<h1>Employee Hours/Wage Information</h1>
<a href="/LibHoursWage/add">Add New Hours/Wage Information</a> <br />

<br />

<table border="1">
    <tr><th>Employee ID</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/LibHoursWage/?SSUID=<%= result[i].SSUID %>"><%= result[i].SSUID %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/LibHoursWage/edit/?SSUID=<%= result[i].SSUID %>'">Edit</button>
            <form action="/LibHoursWage/delete/" style="display:inline;">
                <input type="hidden" name="SSUID" id="SSUID" value="<%= result[i].SSUID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>