<%- include("../includes/header.ejs", {title: "Update " + SSUID}); %>

<h1>Update <%= LibHoursWage.SSUID%></h1>
<form action="/LibHoursWage/update" method="get">
    <input type="hidden" id="SSUID" name="SSUID" value="<%= LibHoursWage.SSUID %>">
    <br />
    Library Department Number: <input id="LibDeptNum" name="LibDeptNum" type="text" value="<%= LibHoursWage.LibDeptNum%>"/>
    <br />
    Weekly Hours: <input id="WeeklyHrs" name="WeeklyHrs" type="text" value="<%= LibHoursWage.WeeklyHrs%>"/>
    <br />
    Monthly Hours: <input id="MonlthyHrs" name="MonlthyHrs" type="text" value="<%= LibHoursWage.MonlthyHrs%>"/>
    <br/>
    Beginning Wage: <input id="BeginningWage" name="BeginningWage" type="text" value="<%= LibHoursWage.BeginningWage%>"/>
    <br/>
    End Wage: <input id="EndWage" name="EndWage" type="text" value="<%= LibHoursWage.EndWage%>"/>
    <br/>
    SickDaysUsed: <input id="SickDaysUsed" name="SickDaysUsed" type="text" value="<%= LibHoursWage.SickDaysUsed%>"/>



    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>