<%- include("../includes/header.ejs", {title:"Add New Hours/Wage Information"}); %>
<h1>Add New Hours/Wage</h1>
<form action="/LibHoursWage/insert" method="get">
    <br />
    <br/>
    Library Department Number: <input id="LibDeptNumber" name="LibDeptNumber" type="text" />

    <br />
    Weekly Hours : <input id="WeeklyHrs" name="WeeklyHrs" type="text" />

    <br />

    Monthly Hours: <input id="MonlthyHrs" name="MonlthyHrs" type="text" />

    <br/>

    Beginning Wage: <input id="BeginningWage" name="BeginningWage" type="text" />

    <br/>

    Ending Wage: <input id="EndWage" name="EndWage" type="text" />

    <br/>

    Sick Days Used: <input id="SickDaysUsed" name="SickDaysUsed" type="text" />



    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SSUID').multiselect();
        });
    </script>

    <br />
    <input type="submit" />


</form>
<%- include("../includes/footer.ejs"); %>